/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  #body{
    /* background-color: #0c122c; */
     background-image: url("/images/bg-mobile.png"); 
  
  }

  .card-body{
    background-color:#1d2b68;
    border-top-right-radius: 50%;
     width: 100%; 
    height: 320px; 
       
     font-family: "(https://fonts.google.com/specimen/Figtree)"; 
  }
  #card{
    background-color:#1d2b68;
    position: relative;
    width: 90vw;
     left: 5%;  
    height: 120px;
      top: 160px;  
     border-top-right-radius: 50%; 
     height: 200px; 
    
  }

  .logo{
    text-align: center;
    position: relative;
    top: 20px;
    left: -20px;
  }

  .icons{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    position: relative;
    top: 20px;
    
  }
   .img{
    position: relative;
    left: 20%;
    top: 10%;
     
    
   }

#btn{
  font-family: "(https://fonts.google.com/specimen/Raleway)";
  color: white;
  position: relative;
  width: 350px;
  left: 5%;
  height: 120px;
  top: 175px;
  background-color: #1d2b68;
}
.note{
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}

.bar{
  margin-left: 19Spx;
  height: 10px;
  width: 100%;
  background-color:#151e4a;
 
}
.try{
  height: 10px;
  width:80%;
  background-image: linear-gradient(to left, #f65597, #ff9a96);
  
}

.dot{
  background-color: white;
  border-radius: 100%;
  height: 10px;
  width: 3%;
  float: right;
}

.img-ctn{
  height: 40px;
  width: 40px;
  border-radius: 10%;
  background-color: #151e4a;
}

.gb-left{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 justify-items: center;
  height: 60px;
  width: 150px;
  border-radius: 5%;
  background-color: whitesmoke;
  color: black;
  font-family: "(https://fonts.google.com/specimen/Raleway)";

  position: relative;
  left: 25%;
}

.gb{
  font-size:xl;
  display: inline-flex;
  position: relative;
  top: 20%;
  left: -10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cent2{
  position: relative;
  left: 10px;
  top: 3px;
}
}













/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

#body{
   background-color: black;

}

.gb{
  background-color: whitesmoke;
  font-family: "(https://fonts.google.com/specimen/Raleway)";
  color: navy;
  margin-left: 19Spx;
  height: 150px;
  width: 30%;
}
.big-ctn{

   font-family: "(https://fonts.google.com/specimen/Figtree)"; 
   background-color: #0c122c;
   display:flex;
  justify-content: center; 
  align-items: center;
  border-radius: 10px;
  flex-direction: row;
  width: 80%; 
  height: 700px;;
  position: absolute;
  top: 25%;
  left: 20%; 
} 
.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

 .ctn1{
  width: 400px;
  height: 320px;
} 
 #btn{
  font-family: "(https://fonts.google.com/specimen/Raleway)";
  color: white;
  position: relative;
  width: 400px;
  height: 120px;
  background-color: #1d2b68;
} 
 



#card-body{
  background-color:#1d2b68;
  border-top-right-radius: 50%;
   width: 100%; 
  height: 320px; 
     
   font-family: "(https://fonts.google.com/specimen/Figtree)";  
 } 

 #card{
  background-color: rgba(255, 0, 0, 0);
  border: none;
  width: 400px; 
  height: 180px;
  
} 

 #img{
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: -3;
  bottom: 0;
}

.img-ctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note{
  display: flex;
  flex-direction: row;
  justify-content: space-between`;
}

.img{
  background-color: #0c122c;
}

.bar{
  margin-left: 19Spx;
  height: 10px;
  width: 100%;
  background-color:#151e4a;
 
}
.try{
  height: 10px;
  width:80%;
  background-image: linear-gradient(to left, #f65597, #ff9a96);
  
}

.dot{
  background-color: white;
  border-radius: 100%;
  height: 10px;
  width: 3%;
  float: right;
}
}
 
